<section class="content-header m-b-40" ng-init="getQuotationList()">
  <h1 class="pull-left">
    Client List
    <small>advanced tables</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Current quotation list</h3>
        </div>
        <div class="box-body table-responsive">
          <table ng-table="tableParams" class="table table-bordered table-hover">
            <tr ng-repeat="row in $data">
              <td data-title="'Sl No'" >{{ $index + 1}}</td>
              <td data-title="'Client Name'" sortable="'org_name'">{{row.org_name}}</td>
              <td data-title="'Quotation Ref.No'" sortable="'ref_no'">{{row.ref_no}}</td>
              <td data-title="'Quotation Date'" sortable="'quot_date'">{{row.quot_date | dateformat}}</td>
              <td data-title="'Enquiry Ref.No'" sortable="'enq_ref'">{{row.enq_ref}}</td>
              <td data-title="'Enquiry Date'" sortable="'enq_date'">{{row.enq_date | dateformat}}</td>
              <td data-title="'Action'" >
              	<div class="btn-group">
                  <button type="button" class="btn btn-success" ui-sref="quotation-details({quotId:row.quot_id})"><i class="fa fa-eye"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-warning" ui-sref="quotation-update({quotId:row.quot_id})"><i class="fa fa-edit"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-info"><i class="fa fa-align-left"></i></button>
                  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="" ui-sref="purchase-order({quotId:row.quot_id})">New Purchase Order</a></li>
                    <!-- <li><a href="" >Purchase order</a></li> -->
                  </ul>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>