<section class="content-header m-b-40">
  <h1 class="pull-left">
   Add New Client
    <small>advanced tables</small>
  </h1>
</section>
<section class="content" >
  	<div class="row">
	   	<div class="col-md-8 col-sm-offset-2">
	      	<div class="box box-info">
		        <div class="box-header with-border">
		          <h3 class="box-title">Client Entry</h3>
		        </div>
		        <form class="form-horizontal" name="enqFrm">
	              	<div class="box-body">
	                	<div class="form-group" ng-class="{'has-error': enqFrm.client_name.$touched && enqFrm.client_name.$invalid}">
		                  <label for="text" class="col-sm-3 control-label">Client Name *</label>
		                  <div class="col-sm-9" ng-init="getClientList()">
		                    <select class="form-control select2" name="client_name" ng-model="enq.client_id" required>
			                  <option ng-selected="true" value="">Select Client</option>
			                  <option ng-repeat="client in clientList" ng-value="client.client_id">{{client.org_name}}</option>
			                </select>
			                <span ng-if="enqFrm.client_name.$touched && enqFrm.client_name.$invalid" class="help-block">Please choose client name</span>
		                  </div>
		                </div>
		                <div class="form-group" ng-class="{'has-error': enqFrm.date.$touched && enqFrm.date.$invalid}">
		                  <label for="text" class="col-sm-3 control-label">Date *</label>
		                  <div class="col-sm-9">
		                    <input type="date" class="form-control" name="date"  ng-model="enq.date" required>
		                    <span ng-if="enqFrm.date.$touched && enqFrm.date.$invalid" class="help-block">Please enter date</span>
		                  </div>
		                </div>
		                <div class="form-group" ng-class="{'has-error': enqFrm.due_date.$touched && enqFrm.due_date.$invalid}">
		                  <label for="text" class="col-sm-3 control-label">Due Date *</label>
		                  <div class="col-sm-9">
		                    <input type="date" class="form-control" name="due_date" ng-model="enq.due_date" required>
		                    <span ng-if="enqFrm.due_date.$touched && enqFrm.due_date.$invalid" class="help-block">Please enter due date</span>
		                  </div>
		                </div>
		                <div class="form-group">
		                   <label for="text" class="col-sm-3 control-label">Material</label>
		                </div>
	                  	<div class="form-scroller">
	                    	<div class="form-group" ng-repeat="item in enq.itemList">
	                        	<label class="col-sm-3 text-right">{{$index+1}}</label>
	                      		<div class="col-sm-3">
	                        		<input type="text" class="form-control"  placeholder="name" ng-model="item.name">
	                      		</div>
			                    <div class="col-sm-2">
			                       <input type="number" class="form-control" placeholder="quantity" ng-model="item.qua">
			                    </div>
	                      		<div class="col-sm-2">
	                        		<input type="text" class="form-control"  placeholder="UOM" ng-model="item.uom">
	                      		</div>
	                      		<div class="col-sm-2">
	                        		<button ng-if="enq.itemList.length > 1" class="btn btn-danger" ng-click="removeItem($index)"><i class="fa fa-minus"></i></button>
	                        		<button ng-if="$last" class="btn btn-primary" ng-click="addItem()"><i class="fa fa-plus"></i></button>
	                      		</div>
	                  		</div>
	                	</div>
	            	</div>
	            	<div class="box-footer">
		                <button type="submit"  ui-sref="enquiry" class="btn btn-default">Cancel</button>
		                <button type="submit" ng-disabled="enqFrm.$invalid" class="btn btn-info pull-right" ng-click="addEnquiry()">Submit</button>
	              	</div>
           		</form>
	        </div>
	    </div>
	</div>
</section>
